<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsh.vivo.mapper.GoodsSeckillMapper">

    <resultMap id="BaseResultMap" type="com.lsh.vivo.entity.GoodsSeckill">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="skuId" column="sku_id" jdbcType="VARCHAR"/>
        <result property="skuName" column="sku_name" jdbcType="VARCHAR"/>
        <result property="seckillPrice" column="seckill_price" jdbcType="DOUBLE"/>
        <result property="seckillNum" column="seckill_num" jdbcType="INTEGER"/>
        <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="CHAR"/>
        <result property="revision" column="revision" jdbcType="INTEGER"/>
        <result column="creator_id" property="creatorId"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="modifier_id" property="modifierId"/>
        <result column="modifier" property="modifier"/>
        <result column="modified_time" property="modifiedTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,goods_id,seckill_price,
        seckill_num,start_time,end_time,
        status,revision,creator_id,
        create_time,modifier_id,modified_time
    </sql>
</mapper>
