<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsh.vivo.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lsh.vivo.entity.Role">
        <result column="id" property="id"/>
        <result column="status" property="status"/>
        <result column="revision" property="revision"/>
        <result column="creator_id" property="creatorId"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="modifier_id" property="modifierId"/>
        <result column="modifier" property="modifier"/>
        <result column="modified_time" property="modifiedTime"/>
        <result column="name" property="name"/>
        <result column="sys" property="sys"/>

    </resultMap>


    <!-- 删 -->


    <!-- 改 -->


    <!-- 查 -->

</mapper>
