<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsh.vivo.mapper.UserAddressMapper">

    <resultMap id="BaseResultMap" type="com.lsh.vivo.entity.UserAddress">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="CHAR"/>
        <result property="isDefault" column="is_default" jdbcType="VARCHAR"/>
        <result property="revision" column="revision" jdbcType="INTEGER"/>
        <result column="creator_id" property="creatorId"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="modifier_id" property="modifierId"/>
        <result column="modifier" property="modifier"/>
        <result column="modified_time" property="modifiedTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,name,
        phone,address,status,
        revision,creator_id,create_time,
        modifier_id,modified_time
    </sql>
</mapper>
